body{
    /* margin: 0; */
}
.heading h1{
    font: 40px "Roboto", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.heading p{
    font-family: "Roboto", sans-serif;
    font-style: italic;
    color: rgb(189, 17, 17);
    padding: 10px;
}
.csbor{
    background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA5L3Jhd3BpeGVsb2ZmaWNlMThfZGlnaXRhbF9hYnN0cmFjdF9saW5lX2FydF9lbWl0dGVyX2JsdWVfbGlnaHRfZF9iZTYzZmU2Yi02YTc3LTRlMjctOGQ1Ni0xZWFiMGViOWU0MjFfMS5qcGc.jpg);
    background-color: green;
    background-size: cover;
    height: 650px;
    text-align: center;
    
}
.csbor h3{
    font-size: 35px; 
    margin: 20px 0px;
    padding: 5px 0px;
    border: 2px dashed rgb(250, 38, 38);
    color: whitesmoke;
}
.csbor p{
    font-family: "Roboto", sans-serif;
    font-style: italic;
    color: rgb(189, 17, 17);
    padding: 10px;
}
.csbor input{
    color: rgb(251, 251, 251);
    background-color: rgb(255, 0, 38);
    border-top: dotted;
    border-bottom: dashed;
    border-left: solid;
    border-right: solid;
    border-radius: 20px;
    /* margin-top: 20px; */
    padding: 5px 20px 5px 20px;
}
.csbor img{
    margin-top: 120px;
}

.higwid{
    background-color: aqua;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    width:fit-content;
    max-width: 70%;
    /* margin-left:100px; */
    display: flex;
    flex-direction: column;
    
}

.higwid h3{
    font-weight: bold;
    font-size: 30px;
    text-align: center;

}
.higwid {
border: 2px solid black;
outline: 5px solid red;
outline-style: dashed;
}

