body{
    /* margin: 0; */
}
.heading h1{
    font: 40px "Roboto", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.heading p{
    font-family: "Roboto", sans-serif;
    font-style: italic;
    color: rgb(189, 17, 17);
    padding: 10px;
}
.csbor{
    background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA5L3Jhd3BpeGVsb2ZmaWNlMThfZGlnaXRhbF9hYnN0cmFjdF9saW5lX2FydF9lbWl0dGVyX2JsdWVfbGlnaHRfZF9iZTYzZmU2Yi02YTc3LTRlMjctOGQ1Ni0xZWFiMGViOWU0MjFfMS5qcGc.jpg);
    background-color: green;
    background-size: cover;
    height: 650px;
    text-align: center;
    
}
.csbor h3{
    font-size: 35px; 
    margin: 20px 0px;
    padding: 5px 0px;
    border: 2px dashed rgb(250, 38, 38);
    color: whitesmoke;
}
.csbor p{
    font-family: "Roboto", sans-serif;
    font-style: italic;
    color: rgb(189, 17, 17);
    padding: 10px;
}
.csbor input{
    color: rgb(251, 251, 251);
    background-color: rgb(255, 0, 38);
    border-top: dotted;
    border-bottom: dashed;
    border-left: solid;
    border-right: solid;
    border-radius: 20px;
    /* margin-top: 20px; */
    padding: 5px 20px 5px 20px;
}
.csbor img{
    margin-top: 120px;
}

.higwid{
    background-color: aqua;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    width:fit-content;
    /* max-width: 80%; */
    /* margin-left:100px; */
    display: flex;
    flex-direction: column;
    
}

.higwid h3{
    font-weight: bold;
    font-size: 30px;
    /* Text Formatting */
    text-align: center;
    text-shadow: 3px 2px rgb(236, 107, 107);
    text-decoration: underline;
    text-transform: uppercase;
}

/* Outline */
.higwid {
border: 2px solid black;
outline: 5px solid rgb(1, 101, 154);
/* outline-style: dashed; */
/* TextFormatting */
text-align: justify;
text-transform: capitalize;
text-indent: 25px;
letter-spacing: 1.5px;
line-height: 1.5;
direction:ltr;
word-spacing:10px ;
}

.links{
    padding: 30px;
    background-color: aquamarine;
    color: rgb(92, 115, 136);

}

.links a{
color: rgb(0, 105, 5);
} 

.links a :link {
    color: red;
} 

.links a:visited{
    color: chocolate;
} 

.links a:hover{
    color: rgb(202, 2, 189);
    /* font-size: 15px; */
} 

.links a:active{
    color: blue;
} 

.links ol{
    /* list-style-position: inside ;
    list-style-image: url(tick.png); */
    font-size: 30px;
    padding: 10px;   
}

.tablediv{
    background-color: lightskyblue;
    text-align: center;
    padding: 20px;
    overflow-x: auto;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table th{
    border: 2px solid black;
    text-transform: uppercase;
    padding: 15px;
    background-color: blue;
    color: aliceblue;
}

.table td{
    border: 2px solid black;
    padding: 10px;
}

.table td:hover{
color: aliceblue;
background-color: rgb(34, 85, 251);
}

.table tr:nth-child(even){
    background-color: dodgerblue;
    color: aliceblue;
}

.displaydiv{
background-color:aquamarine;
text-align: center;
}
.displaydiv h1{ 
padding: 20px;
}

.displaydiv a{
    color:green;
    text-decoration: none;
}
.displaydiv li{
list-style-type: none;
display: inline;
margin-right: 50px;

}
.displaydiv a:hover{
    color:navy;
}
.displaydiv ul{

    display: flex;
    justify-content: flex-end;
}

.hidden{
/* display: none; */
visibility: hidden;
}
.positiondiv{
    background-color: cadetblue;
    /* text-align: center; */
    /* width: 100%; */
    padding: 20px;
}
.Static{
    position: static;
    border: 2px solid #73ad21;
    padding: 5px;
}

.Relative{
    margin-top: 10px;
    padding: 5px;
    position: relative;
    border: 2px solid #73ad21;
    left: 30px;
    width: 95%;
}

.fixed{
    margin-top: 20px;
    padding: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    /* border: 2px solid #73ad21; */
    background-color: #73ad21;
}

.Relatives{
    margin-top: 10px;
    padding: 5px;
    border: 2px solid #73ad21;
    position: relative;
    height: 200px;
    width: 300px;
    left: 40%;

}

.Absolute{
    position: absolute;
    top: 80px;
    right: 10px;
    border: 2px solid #73ad21;
}

.stickydiv{
    padding: 10px;
    position:sticky;
    position: -webkit-sticky;
    border: 2px solid #73ad21;
    top: 0;
    text-align: center;
    background-color: #73ad21;
}

.floatdiv{
    background-color: darkcyan;
    color: beige;
    /* text-align: center; */
    padding: 30px;
    
}
.floatdiv img{
float: right;
background-color: coral;
padding: 10px;
margin-left: 20px;
/* margin: 10px;
margin-top: 35px; */
}

#float{
    background-color: rgb(189, 208, 208);
    padding: 5px 10px 0px 10px;
    height: 400px;
    margin-bottom: 70px;
    
}
/* .floatcolor{

    width: 100%;
    background-color: darkslategrey;
    display: flex;
    justify-content: space-around;
} */

.floatcolor div{
    /* padding: 20px; */
    text-align: center;
    
}

.green{
background: rgb(92, 159, 92);
/* width: 100%; */
/* float: left; */
margin: 10px 0px;
padding: 20px;
}
.blue{
background: rgb(60, 60, 166);
float: left;
height: 150px;
padding: 20px;
width: 100%;
}
.skyblue{
background: skyblue;
float: left;
height: 150px;
padding: 20px;
width: 100%;
}
.orange{
background: rgb(243, 172, 41);
height: 150px;
padding: 20px;
width: 100%;
/* float: right; */
}
.chocolate{
background:rgb(218, 122, 54);
margin: 8px 0px;
padding: 20px;

/* float: right; */
}
.center{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* height: 100px; */
}

.selector{
    /* display: flex;
    flex-direction: column; */
    background-color: darkgray;
    padding: 20px;
    align-items: center;
    font-size: 18px;
    /* width: 95%; */
    /* overflow:hidden; */
}
.selector img{
    /* width: 20%;
    float: left; */
    left: 10px;
    float: right;
    padding: 10px;
    background-color: darkorange;
}

.selectorP2{
    display: flex;
    padding-right: 15px;
}

.selector span[title]{
    color: green;
}

.selector span[title~="1"]{
    background-color: aquamarine;
}

.selector span[title="country 2"]{
    background-color:cadetblue;
}

.selector span a[target]{
    background-color: skyblue;
}

[class|="selectors"]{
    color: coral;
}

[class ^="selectors"]{
    color:mediumvioletred;
}

[class *="P2"]{
    color: rgb(146, 198, 12);
}

[class *="-"]{
    color: rgb(198, 12, 37);
}



/* .opacity1{
    background-color:darkgray;
    
    padding: 30px;
    
}
.opacity1 img{
float: right;
background-color: coral;
padding: 10px;
margin-left: 20px;

} */

.opacity{
    width: 1000px;

    background-color: black;
}

.opacity > img{
    width: 1000px;
    opacity: 0.5;
}

.opacity > img:hover{
    opacity: 1;
}